*{
    background: #f3f5fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.logo{
    padding-top: 10px;
    margin-left: 80px;
    width: 3%;
}
main{
    display: flex; /*alinear distribucion de espacios*/
    margin-bottom: 50px;
    margin-left: 80px;
}
.text-area{
    /* border: none; */
    position: relative;
    margin-top: 30px;
    color: #0A3871;
    text-transform: lowercase; /*transformar texto a minuscula*/
}
::placeholder{ color: #0A3871}
.text-area:focus {
    outline: none;
}
.mensaje{
    background: white;
    background-image: url("imagenes/Muñeco.svg");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;

}
.mensaje:focus{
    outline: none;
}
.botones{
    display: flex;
    margin-top: 18px;

}
.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    height: 55px;
    width: 328px;
    margin: 0 2.5% 0 0;
    cursor: pointer;
}
.btn-encriptar:active{
    transform: scale(0.97);
    
}

.btn-desencriptar{
    background: #d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    height: 55px;
    width: 328px;
    cursor: pointer;
    
}

.btn-desencriptar:active{
    transform: scale(0.97);
}

.btn-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
    position: fixed;
    
}
.btn-copiar:active{
    transform: scale(0.97);
}
.informacion{
    color: #495057;
    font-size: 18px;
}